body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form button {
    margin-bottom: 10px;
}

#medicineList {
    margin-bottom: 20px;
}

#medicineList div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#medicineList div h3 {
    margin-top: 0;
}

#medicineList div button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
